/* Posts Page CSS */

.post {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .post-author {
    font-weight: bold;
  }


body {
  background-color: black;
}

header {
  min-height: 50px;
  min-width: 50px;
  border-bottom: 5px solid #575353;
  background-color: #ffffff;
}

